@{
    ViewData["Title"] = "就業經驗分享";
}
@model Student_web.Models.Share_emp_ViewModel
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/Share_empWeb.css" rel="stylesheet" type="text/css" />
</head>

<body>
    @using (Html.BeginForm("Share_empWeb", "Career", FormMethod.Post))
    {
        <div class="card">
        <div class="card-header text-center">
            <button type="button" class="btn btn-secondary esc" style="position: absolute; left: 0;">
                <a class="nav-link active " asp-area="" asp-controller="Career" asp-action="Post_version1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                    </svg>
                </a>
            </button>畢業生就業歷程分享
        </div>
        <div class="d-flex">
            <div class="device-left">
                <img src="~/Resource/gd_share_emp.jpg" alt="office work" style="height:1141px">
            </div>
            <div class="device-right" style="width: 900px;height:auto ">               
                <div class="form-group" style="display: flex;align-items:flex-end;">
                    <span class="star">★</span>
                    @Html.LabelFor(model => model.share_emps.item, "標題名稱",new { @class = "form-label" })
                    @Html.ValidationMessageFor(model => model.share_emps.item, "", new { @class = "text-danger" })
                </div>
                <div class="input-group mb-3">
                    @Html.EditorFor(model => model.share_emps.item, new { htmlAttributes = new { @class = "form-control form-control", @aria_label = "Sizing example input", @aria_describedby = "inputGroup-sizing-default",placeholder="您的標題..."} })
                </div>

                
                <div class="form-group" style="display: flex;align-items:flex-end;">
                    <span class="star">★</span>
                    @Html.LabelFor(model => model.share_emps.company, "公司名稱",new { @class = "form-label" })
                    @Html.ValidationMessageFor(model => model.share_emps.company, "", new { @class = "text-danger" })
                </div>
                <div class="input-group mb-3">
                    @Html.EditorFor(model => model.share_emps.company, new { htmlAttributes = new { @class = "form-control form-control", @aria_label = "Sizing example input", @aria_describedby = "inputGroup-sizing-default" , placeholder = "您的公司..."} })
                </div>
                <div class="form-group">
                    <div class="position-label">
                        <span class="star" style="margin-top: -4px;">★</span>
                        @Html.LabelFor(model => model.share_emps.post, "擔任職位",new { @class = "form-label" })
                        @Html.ValidationMessageFor(model => model.share_emps.post, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-group mb-3">
                        @Html.EditorFor(model => model.share_emps.post, new { htmlAttributes = new { @class = "form-control form-control", @aria_label = "Sizing example input", @aria_describedby = "inputGroup-sizing-default",placeholder = "您的職位是..."}})
                    </div>
                </div>
                <div class="form-group row inf-row">
                      
                    <div class="form-group col">
                        @Html.LabelFor(model => model.share_emps.salary, "目前年收入",new { @class = "form-label question" })
                        <div class="input-group mb-3">
                            @Html.EditorFor(model => model.share_emps.salary, new { htmlAttributes = new { @class = "form-control form-control", @aria_label = "Sizing example input", @aria_describedby = "inputGroup-sizing-default" ,placeholder = "收入平均..."} })
                        </div>
                    </div>
                    <div class="dropdown col location-menu">
                        <label class="menu-form-label">上班地點</label>
                        <select asp-for="share_emps.location" class="form-select" aria-label="Default select example" name="share_emps.location">
                            <option selected value="">選擇位置</option>
                            <option value="臺北市">臺北市</option>
                            <option value="新北市">新北市</option>
                            <option value="桃園市">桃園市</option>
                            <option value="臺中市">臺中市</option>
                            <option value="臺南市">臺南市</option>
                            <option value="高雄市">高雄市</option>
                            <option value="新竹市">新竹市</option>
                            <option value="新竹縣">新竹縣</option>
                            <option value="基隆市">基隆市</option>
                            <option value="嘉義市">嘉義市</option>
                            <option value="嘉義縣">嘉義縣</option>
                            <option value="苗栗縣">苗栗縣</option>
                            <option value="彰化縣">彰化縣</option>
                            <option value="南投縣">南投縣</option>
                            <option value="雲林縣">雲林縣</option>
                            <option value="屏東縣">屏東縣</option>
                            <option value="宜蘭縣">宜蘭縣</option>
                            <option value="花蓮縣">花蓮縣</option>
                            <option value="臺東縣">臺東縣</option>
                            <option value="澎湖縣">澎湖縣</option>
                            <option value="金門縣">金門縣</option>
                            <option value="連江縣">連江縣</option>
                            <option value="國外">國外</option>
                        </select>
                    </div>
            
                    <div class="dropdown col state-menu">
                        <label class="menu-form-label">就業狀態
                            <span class="special-tooltip menu-label" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="選擇您在這間公司的目前狀態">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247m2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
                                </svg>
                            </span>
                        </label>
                        <select asp-for="share_emps.emp_status" class="form-select" aria-label="Default select example" name="share_emps.emp_status">
                            <option selected value="">你目前的狀態</option>
                            <option value="全職">全職</option>
                            <option value="兼職">兼職</option>
                        </select>
                    </div>
                </div>

                    
                   
                    <div class="form-group" style="display: flex;align-items:flex-end;">
                        <span class="star">★</span>
                        @Html.LabelFor(model => model.share_emps.content, "工作內容及福利",new { @class = "form-label share_content" })
                        <span class="special-tooltip" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="提供您在這間公司上班的內容是負責部分和福利制度">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247m2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
                            </svg>
                        </span>
                        @Html.ValidationMessageFor(model => model.share_emps.content, "", new { @class = "text-danger" })
                    </div>    
                    <div class="form-group-content">
                        @Html.TextAreaFor(model => model.share_emps.content, new { @class = "form-control", @aria_label = "Sizing example input", @aria_describedby = "inputGroup-sizing-default", id = "control-Content", placeholder = "有哪些工作內容", rows = 8 })
                    </div>
                    

                    <div class="form-group" style="display: flex;align-items:flex-end;">
                        <span class="star">★</span>
                        @Html.LabelFor(model => model.share_emps.share_intern, "求學/就業經驗分享",new { @class = "form-label share_content" })
                        <span class="special-tooltip" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="分享您在求學或是工作方面的心路歷程">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247m2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
                            </svg>
                        </span>
                        @Html.ValidationMessageFor(model => model.share_emps.share_intern, "", new { @class = "text-danger" })
                    </div>    
                    <div class="form-group-content">
                        @Html.TextAreaFor(model => model.share_emps.share_intern, new { @class = "form-control", @aria_label = "Sizing example input", @aria_describedby = "inputGroup-sizing-default", id = "control-Content", placeholder = "有哪些經驗想分享的", rows = 8})
                    </div>
                    

                    <div class="text-center">
                        <div>請確認<span class="text-danger">★</span>內容是否有填寫到，確認完畢再送出呦！</div>
                        <button type="submit" class="btn btn-primary">送出分享
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                                <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
    <script>
        $(document).ready(function(){
            $('[data-bs-toggle="popover"]').popover();   
        });
    </script> 
</body>